*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(46, 218, 218);
    font-family: 'Times New Roman', Times, serif;
}
.Booklist{
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .Booklist {
        grid-template-columns: repeat(3, 1fr);
      }
    
}
.book {
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
  }
  .book img {
    width: 100%;
    object-fit: cover;
  }
  .book h2 {
    margin-top: 1rem;
    font-size: 1rem;
  }